setuptools==82.0.0
python-dotenv==1.2.2
pyyaml==6.0.3
pydantic==2.12.5
pydantic-settings==2.12.0
pyspark==4.1.1
mlflow==3.10.1
streamlit==1.55.0
plotly==5.24.1
apache-airflow==2.11.0
apache-airflow-providers-apache-spark==5.5.1
# apache-airflow-providers-apache-hive>=5.0.0
# click>=8.1.0
# loguru>=0.7.0
pytest>=8.0.0
pytest-cov>=4.1.0
